.wrapper {
  margin-top: 20px;

  display: grid;
}

.keyboardLine {
    display: flex;

    gap: 10px;
    margin: 10px 0;

    justify-content: center;
}

.key, .backspace {
    height: 60px;

    display: inline-block;

    background-color: #fefefe;
    border-radius: 5px;
    cursor: pointer;
}

.key {    
    width: 40px;

    font-size: 1.3em;
    line-height: 1.3em;
}

.controls {
    width: 60px;

    font-size: 30px;
    line-height: 30px;
}

.notInTheWord {
  background-color: #5f5f5f;
  color: #fff;
}

.anotherPlace {
  background-color: #777;
}

.right {
  background-color: #fadf53;
}