* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

:root {
    --countOfKeysOnFisrtRow: 12;
    --countOfKeysOnSecondRow: 11;
    --countOfKeysOnFisrtRow: 11;
}

body {
    width: 100vw;
    height: 100vh;
}

#root, #modal {
    width: 100%;
    height: 100%;
}